.sl-div-s * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sportsLottWrapOuter{
    background-image: url(../sports-UI/sprite-img.png);
    padding: 5px 5px 4px 5px;
    margin: 0;
    border-radius: 4px;
    background-repeat: repeat;
   /* min-height: 495px;*/
    background-color: #362464;
    }
.resultPopUp .sportsLottWrapOuter.result{background-color: #0D3E64;}
.sportsLottWrapOuter > .row{ border-bottom:1px solid rgba(255,255,255,0.1);}
.sportsLottWrapOuter > .row:last-child{ border-bottom:none;}
.sportsLottWrapInner{margin:0; padding:0; border:none; list-style:none; text-align: center;}
.sportsLottWrapInner:after{ clear:both; display:block; content:'';}
.sportsLottWrapInner.col-count-1 > li{ width:100%;}
.sportsLottWrapInner.col-count-2 > li{ width: 48%; float: none; display: inline-block;}
.sportsLottWrapInner.col-count-3 > li{ width: 32%; float: none; display: inline-block;}
.sportsLottWrapInner.col-count-4 > li{ width:25%;}
.sportsLottWrapInner > li{float:left;/*border: 1px solid rgba(0, 0, 0, 0.2);*/background-color: #fff;margin: 5px 4px; box-shadow: 0px 0px 5px rgba(0,0,0,0.5);}
.gameDiv.sportsLottWrap {
    margin: 0px auto 5px;
    cursor:default;
    overflow: hidden;
}
.sportsLottWrap .gameDivInner{padding: 0px 25px;background-color: #ffffff;}
.sportsLottWrap .gameDivInner .row.teamTitle {  margin: 0 -25px;}
.sportsLottWrap .titleAndDateWrap {
    margin: 0px -25px;
    color: #2c2c2c;
    font-size: 10px;
    font-weight: 500;
    padding: 2px 6px;
    background-color: #584096;
    /* line-height: 120%; */
}
.sportsLottWrap .gameDivInner .row:after {
    clear: both;
    content: '';
    display: block;
}
.sportsLottWrapInner.col-count-1 .sportsLottWrap .titleAndDateWrap, .sportsLottWrapInner.col-count-2 .sportsLottWrap .titleAndDateWrap{font-size:11px;}
.sportsLottWrap .titleAndDateWrap:after { content: ''; clear: both;  display: block;}
.sportsLottWrap .titleAndDateWrap .dateWrap{float:left;color: #ffffff;font-weight:bold;}
.sportsLottWrap .titleAndDateWrap .dateWrap strong{font-weight:bold;}
.sportsLottWrap .titleAndDateWrap .titleNameWrap{float:right;color: #fff;}
.sportsLottWrap .abbri{margin-top: 5px; font-size: 32px; color: #fff; font-weight: 300; line-height: 100%; }
.sportsLottWrap .abbriName{font-size:11px; line-height:110%; color:#444444; margin-bottom: 5px; padding-top: 6px; font-weight: 700;}
.sportsLottWrapInnerResult .sportsLottWrap .abbriName{color:#a292ce; }
.sportsLottWrapInner.col-count-1 .sportsLottWrap .abbriName, .sportsLottWrapInner.col-count-2 .sportsLottWrap .abbriName{ font-size:12px;}
.sportsLottWrap .vsWrap {
    color: #fff;
    font-size: 9px;
    font-weight: 400;
    text-transform: lowercase;
    background-color: #594298;
    width: 14px;
    height: 14px;
    display: inline-block;
    border-radius: 50%;
    line-height: 13px;
    text-align: center;
    margin-top: 0px;
}
.result .sportsLottWrap .vsWrap{ background-color:#0092C1;}
.sportsLottWrap .selectArea .numWrap {
    width: 100%;
    height: 42px;
    display: inline-block;
    font-size: 16px;
    border-radius: 0;
    text-align: center;
    line-height: 42px;
    vertical-align: middle;
    color: #694fad;
    border: 1px solid #bcb6cc;
    border-left: none;
    background-color: #ffffff;
    cursor: pointer;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.sportsLottWrap .selectArea .numWrap:hover{-moz-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.4);
    -webkit-box-shadow: inset 1px 1px 3px rgb(88, 64, 150);
    box-shadow: inset 1px 1px 3px rgb(161, 157, 171);
    background-color: #d4d4d4;}
.result .sportsLottWrap .selectArea .numWrap{font-size:14px; line-height:26px; height:28px; border: 1px solid #245977; background-color: transparent; color: #3A6F8E;}
.sportsLottWrap .selectArea > .col-xs-2:first-child > .numWrap{border-left: 1px solid #bcb6cc;}
.result .sportsLottWrap .selectArea > .col-xs-2:first-child > .numWrap{border-left: 1px solid #245977;}
/*.sportsLottWrap .selectArea .numWrap:focus, */
.sportsLottWrap .selectArea .numWrap.selected{
	background-color: #be3122;
	color: #fff;
}
.result .sportsLottWrap .selectArea .numWrap:hover, .result .sportsLottWrap .selectArea .numWrap:focus{ background-color:transparent; cursor:default;}
.result .sportsLottWrap .selectArea .numWrap.selected{background-color: #129266; cursor:default; color: #fff;}

.sportsLottWrap .selectArea > div {
    text-align: center;
    float: left;
    /* display: inline-block; */
    padding: 0;
    margin: 0px;
}
.sportsLottWrap .selectArea > div:first-child > span{border-radius:5px 0 0 5px;border-left: 1px solid #bcb6cc;}
.sportsLottWrap .selectArea > div:last-of-type > span{ border-radius:0 5px 5px 0;}
.result .sportsLottWrap .selectArea > div:first-child > span{ border-radius:3px 0 0 3px;}
.result .sportsLottWrap .selectArea > div:last-of-type > span{ border-radius:0 3px 3px 0;}
.sportsLottWrap .selectArea > div.col-xs-2{width: 20%;}
.sportsLottWrap .selectArea > div.col-xs-4{margin: 0; width: 33.33%;}
.sportsLottWrap .selectArea .textWrap {
    text-align: center;
    display: block;
    border: 1px solid #bcb6cc;
    border-left: none;
    /* background-color: #574095; */
    color: #a292ce;
    border-radius: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 28px;
    height: 30px;
    font-weight: 400;
    cursor:pointer;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.result .sportsLottWrap .selectArea .textWrap{font-size:14px; line-height:26px; height:28px; border: 1px solid #245977; background-color: transparent; color: #3A6F8E;}
.sportsLottWrap .selectArea > .col-xs-4:first-child > .textWrap{border-left: 1px solid #bcb6cc;}
.result .sportsLottWrap .selectArea > .col-xs-4:first-child > .textWrap{border-left: 1px solid #245977;}
.sportsLottWrap .selectArea .textWrap:hover, .sportsLottWrap .selectArea .textWrap:focus, .sportsLottWrap .selectArea .textWrap.selected, .sportsLottWrapInnerResult .sportsLottWrap .selectArea .textWrap.selected:focus{
	background-color: #be3122;
	color: #fff;
}
.sportsLottWrapInnerResult .sportsLottWrap .selectArea .textWrap:hover, .sportsLottWrapInnerResult .sportsLottWrap .selectArea .textWrap:focus{
        background-color: transparent;
	color:#a292ce;
}
.result .sportsLottWrap .selectArea .textWrap:hover, .result .sportsLottWrap .selectArea .textWrap:focus{ background-color:transparent; cursor:default;}
.result .sportsLottWrap .selectArea .textWrap.selected{background-color: #129266; cursor:default; color: #fff;}
.sportsLottWrap .selectArea {
    text-align: center;
    margin: 0px -15px;
    position: relative;
}
.sportsLottWrap .row.teamTitle > .col-xs-5, .sportsLottWrap .row.teamTitle > .col-xs-2 {padding: 0;}
.sportsLottWrap .row.teamTitle > .col-xs-5{width:calc(50% - 7px);float: left;}
.sportsLottWrap .row.teamTitle > .col-xs-2{width:14px;float: left;}

.sportsLottWrap .selectArea .redBlocker > .row{background-color:rgb(255,40,45);padding:2px 8px;display:block;margin: auto -10px;margin-top: 10px;color: #fff;font-weight: 300;font-size: 11px;line-height: 105%;text-transform: uppercase;text-align: left;height: 27px;}
.sportsLottWrap .selectArea .redBlocker{height: 50px;/* background-color: rgba(0,0,0,1); */position: absolute;width: 100%;left: 0;top: -15px;}


.result .sportsLottWrap .selectArea .redBlocker > .row{margin-top: 1px; height:26px;}
.sportsLottWrap .selectArea .redBlocker .row > div:last-child{ text-align:center;}
.sportsLottWrap .selectArea .redBlocker .row > div{padding:0;float: left;}
.right-border:after{    content: '';
    position: absolute;
    border-right: 1px solid rgba(255,255,255,0.1);
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;}
	
	
	.sl-div-s {
    float: left;
    width: 100%;
    margin-top: 5px;
    border-radius: 2px;
    overflow: hidden;
}


button.select-draw {
    /*line-height: 2;*/
    text-transform: uppercase;
    cursor: pointer;
    background: #594298;
    color: #fff;
    padding: 5px 0 10px;
    font-size: 13px;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: inline-block;
    /*margin-top: 5px;*/
    position: relative;
    border: 1px solid #4b3685;
    border-radius: 2px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    width: 85%;
   /*  min-height: 42px; */
}
button.select-draw:before {

    width: 40px;
    height: 38px;
    background-color: #37a9ce;
    right: 0;
    position: absolute;
    top: 0;
}
button.select-draw:after{/*content: '';
    position: absolute;
    border-top: 7px solid white;
    border-right: 6px solid rgba(255, 255, 255, 0);
    border-bottom: 6px solid rgba(255, 255, 255, 0);
    border-left: 6px solid rgba(255, 255, 255, 0);
    right: 14px;
    top: 16px;*/
	
}
button.select-draw:after {
        content: "...";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 38px;
    margin-left: -19px;
    font-size: 26px;
    line-height: 35px;}
button.select-draw:focus, button.select-draw:hover{background-color: #362464;border: 1px solid #402f6d;}
#showMatchList:hover{background-color: #362464;}
.draw {
    float: left;
    /*width: 40%;*/
    position: relative;
    border-radius: 3px;
    width: 32.3%;
}
.results {
    float: right;
    margin-left: 5px;
    width: 59%;
    border-radius: 3px;
    width: 67%;
}
.win-nmd {
    float: left;
    text-align: center;
    width: 90px;
    margin: 0;
    padding: 10px 0px 0px 0px;
    font-size: 15px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-image: url(../sports-img/calender-bg-icon.png);
    background-repeat: no-repeat;
    background-position: 10px 1px;
    height: 75px;
}
span.month-span {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 13px;
    margin-top: 28px;
    color: #333;
    height: 20px;
}

span.time-span {
    display: block;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #333;
    line-height: 20px;
}
span.draw-nm-sl-sl {
    font-size: 15px;
    color: #2c2c2c;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 5px;
    display: block;
}
/*************result sl*********/
.right-result-sl {
    float: left;
    width: 81%;
    padding: 3px 0px;
}
table.table-sl {
    width: 100%;
    max-width: 100%;
    border: 1px solid #eceeef;
    border-spacing: 0;
    border-collapse: collapse;
}
table.table-sl td{
          padding: 0px 0px;
          line-height: 37px;
          vertical-align: middle;
          border: 2px solid #bcb6cc;
          text-align: center;
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          color: #ffffff;
          position: relative;
          font-size: 12px;
          background-color: #584096;
}
table.table-sl td span {
       position: absolute;
       top: 0;
       left: 0;
       font-size: 11px;
       line-height: 1.2;
       background-color: #be3122;
       width: 14px;
       height: 14px;
       text-align: center;
       border-radius: 0px 0px 5px 0px;
       color: #fff;
}

/*ul.sportsLottWrapInner.col-count-3 li:nth-child(13){
	margin: auto;
    float: none;
    overflow: auto;
    border-left: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    width: 33.38%;
}*/
.sport-purchase {
 width: 100%;
    float: left;
    height: 164px;
    border-bottom: 2px solid #ddd;
}
.sport-purchase table {
    border: 1px solid #ddd;
    width: 100%;
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
       height: 165px;
}
.sport-purchase table tr td{
	    padding: 1px 2px;
    line-height: 18px;
    vertical-align: middle;
    border: 1px solid #ddd;
    font-size: 12px;
    text-align: center;
    color: #be3122;
    font-weight: bold;
	}
	.sport-purchase table tr td strong{color: #333;
    font-weight: normal;}
	.sportsLottWrapInner.soccer6 > li, .sportsLottWrapInner.soccer10 > li, .sportsLottWrapInner.soccer4 > li {
    width: 48.99%;
}
.sportsLottWrapInner.soccer6 > li > .gameDiv.sportsLottWrap{margin: 0px auto 10px;
    cursor: default;
    overflow: hidden;}
	.sportsLottWrapInner.soccer10 > li > .gameDiv.sportsLottWrap{    margin:0px auto 6px;
    cursor: default;
    overflow: hidden;}
	.sportsLottWrapInner.soccer10 > li > .sportsLottWrap .selectArea .textWrap{    line-height: 38px;
    height: 38px;}
	.sportsLottWrapInner.soccer10 > li > .sportsLottWrap .abbriName{    font-size: 12px;}
	.sportsLottWrapInner.soccer10 > li > .sportsLottWrap .titleAndDateWrap .titleNameWrap{font-size:12px;}
	.sportsLottWrapInner.soccer10 > li > .sportsLottWrap .titleAndDateWrap .dateWrap{font-size:11px;}
	.sportsLottWrapInner.soccer4 > li > .gameDiv.sportsLottWrap{
    margin:0px auto 8px;
    cursor: default;
    overflow: hidden;
    }
	.sportsLottWrapInner.soccer4 > li > .sportsLottWrap .titleAndDateWrap{font-size: 11px;}
	.sportsLottWrapInner.soccer4 > li > .sportsLottWrap .titleAndDateWrap .titleNameWrap{font-size: 12px;}
	.sportsLottWrapInner.soccer4 > li > .sportsLottWrap .abbriName{    margin-bottom: 10px;
    padding-top: 7px;}
	
	.soccer13-game {
    padding: 0px;
    margin: 0px 10px 10px 10px;
    border-radius: 3px;
    background-color: #ddd;
    overflow: auto;
    height: 420px;
}
	.soccer13-game > .sportsLottWrapInner.col-count-3 > li {
    width: 47%;
    margin: 10px 10px;
    border: 1px solid #d0d0d0;
    border-radius: 1px;
}
.match-list-area ul:after{content:''; clear:both; display:block;}
ul.soccer13-col{
    margin: 0;
    padding: 0;
}
ul.soccer13-col:after {
    content: ' ';
    clear: both;
    display: block;
	padding-top: 10px;
}
ul.soccer13-col > li{
       float: left;
    width: 47.2%;
    border: 0px solid #d2d2d2;
    padding: 0;
    list-style-type: none;
    background-color: #fff;
    margin: 0px 10px 10px 10px;
    box-shadow: 0px 2px 6px #c7c7c7;
}
.sctitleAnd > .dateWrap{color: #fff;
    margin-left: 5px;
}
#matchListPanelData{}
#matchListPanelData > div, #resultListDataPanel > div{/*float: left;
    width: calc(100% - 20px);
    margin-bottom: 25px;
    margin-left: 10px;*/ margin:10px;}
.scgameDivN {
}
.sctitleAnd {background-color: #574095;width: 100%;float: left;padding: 5px 0px;}
.scteamTitle {float: left;width: 100%;padding: 10px 0px;}
.sctitleAnd > .dateWrap {float: left;font-size: 12px;/* color: #fff; *//* margin-left: 5px; */}
.sctitleName {float: right;font-size: 12px;color: #fff;margin-right: 5px;}
.scteamTitle > .col-xs-5{
    width: 45%;
    float: left;
}
.scteamTitle > .col-xs-5 > .scabbriName{
    font-size: 12px;
    padding: 4px 0px;
}
.scteamTitle > .col-xs-2{
    float: left;
    width: 10%;
}
.scteamTitle > .col-xs-2 > .scvsWrap{
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    text-transform: lowercase;
    background-color: #594298;
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 50%;
    line-height: 14px;
    text-align: center;
    margin-top: 0px;
}
.result-soccer-gm {
    padding: 0px 5px;
    max-height: 420px;
    overflow: auto;
}
.gm-result #matchListWindowData {
    max-height: 420px;
}
.result-soccer-gm > .soccer10 > li{width: 48.6%;}
.sport-dr-letf span {
    display: inline-block;
    font-size: 12px;
    text-align: left;
    color: #656565;
    margin-left: 10px;
    font-weight: normal;
}
.sports-no-dr {
    float: right;
    width: 80%;
    margin-bottom: 10px;
    margin-top: 6px;
    height: 46px;
    overflow: auto;
}
.sports-no-dr span {
    display: block;
    padding: 0px 7px;
    font-size: 13px;
    color: #333;
    letter-spacing: 1px;
}
.sport-dr-letf {
     float: left;
     font-size: 13px;
     margin-left: 5px;
     padding: 5px 0px;
     font-family: 'Roboto', sans-serif;
     font-weight: 500;
     letter-spacing: 1px;
}
.sports-bet-amt{
    float: left;
    width: 100%;
    margin-top: 0;
    height: 105px;
    background-color: whitesmoke;
    border-bottom: 1px solid #e2e2e2;
}
.sports-bet-amt span{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 13px;
    margin-left: 85px;
    line-height:2;
}

.soccer4 > li > .sportsLottWrap > .gameDivInner {
    padding: 4px 25px;
    background-color: #584096;
}
.soccer4 > li > .sportsLottWrap > .gameDivInner > .teamTitle{float: left;
    width: 100%;
    padding: 10px 0px;}
	.soccer4 > li > .sportsLottWrap > .gameDivInner > .selectArea > .redBlocker {

    top: 50px;
}
.sl-select-amt button.amt-select, .select-amt button:hover {
    background-color: #ed3237;
}

.sl-select-amt{    float: left;
    width: 100%;}
.sl-select-amt button{float: left;
    width: 31%;
    border: 0;
    color: #fff;
    background-color: #594298;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 8px 0px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;}
.sl-select-amt input {
    float: left;
    width: 31%;
    color: #333;
    background-color: #fff;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 7px 0px;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    border: 1px solid rgb(137, 137, 137);
}
.sl-select-amt button i {
    font-size: 11px;
    margin-right: 2px;
}
.sl-no-ol{
    border-bottom: 1px solid #e2e2e2;
    float: left;
    width: 100%;
}
.sports-nof{
    float: left;
}
.sports-nof span{
    display: block;
    padding: 5px 5px;
    font-size: 13px;
    color: #333;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    }
    
    
    .sportsLottWrapInnerResult{margin:0; padding:0; border:none; list-style:none;}
.sportsLottWrapInnerResult:after{ clear:both; display:block; content:'';}
.sportsLottWrapInnerResult.col-count-1 > li{ width:100%;}
.sportsLottWrapInnerResult.col-count-2 > li{ width:50%;}
/* .sportsLottWrapInnerResult.col-count-3 > li{width: 32.33%;} */
.sportsLottWrapInnerResult.col-count-4 > li{ width:25%;}
.sportsLottWrapInnerResult > li{float:left;border: 1px solid rgba(0, 0, 0, 0.2);background-color: #fff;margin: 5px 4px;box-shadow: 0px 0px 4px #adadad;}

.sportsLottWrapInnerResult > .result-soccer-gm > .soccer10 > li {
    width: 48.6%;
}
.sportsLottWrapInnerResult.soccer10 > li > .gameDiv.sportsLottWrap {
    margin: 0px auto;
    cursor: default;
    overflow: hidden;
}
.sportsLottWrapInnerResult .sportsLottWrap .gameDivInner {
    padding: 3px 25px;
    background-color: #584096;
}

.sportsLottWrapInnerResult .sportsLottWrap .titleAndDateWrap {
    margin: 0px -15px;
    color: #2c2c2c;
    font-size: 10px;
    font-weight: 500;
    padding: 0px;
    /* line-height: 120%; */
}

.sportsLottWrapInnerResult .selectArea > .col-xs-2:first-child > .numWrap {
    border-left: 1px solid #bcb6cc;
        border-radius: 5px 0 0 5px;
}
.sportsLottWrapInnerResult > li > .gameDiv > .gameDivInner > .selectArea > .col-xs-4 >.textWrap:hover, .sportsLottWrapInnerResult > li > .gameDiv > .gameDivInner > .selectArea > .col-xs-2 >.textWrap:hover{ 
 background-color: #584096;
    color: #a292ce;
    cursor: auto;}
.sportsLottWrapInnerResult > li > .gameDiv > .gameDivInner > .selectArea > .col-xs-4 >.textWrap.selected:hover, .sportsLottWrapInnerResult > li > .gameDiv > .gameDivInner > .selectArea > .col-xs-2 >.textWrap.selected:hover{background-color: #be3122; color:#ffffff;}	
.match-not {
    color: #941b1b;
    padding: 10px 0px;
    background-color: #ff8a8a;
    border-radius: 3px;
    font-size: 15px;
    text-align: center;
}
	
		
	
@media screen and (max-height: 730px){
	.sportsLottWrapOuter{height: calc(100vh - 110px);}
/*	.sportsLottWrapInner > li{margin: calc(((100vh - 560px)/5)/2) 4px;*/
	.sportsLottWrap .gameDivInner{padding: 0px 25px 5px;}
	.sportsLottWrap .selectArea .numWrap{height: calc((100vh - 425px)/5); line-height: calc((100vh - 425px)/5);}
}
@media screen and (max-height: 600px){
	.sportsLottWrap .selectArea .numWrap{ height:38px; line-height:38px;}
	.gameDiv.sportsLottWrap{margin: 0px auto 0px;}
	.sportsLottWrapInner > li{margin: calc(((100vh - 575px)/5)/2) 4px; }
}
	

@media screen and (min-height: 731px){
	.sportsLottWrap .gameDivInner .row.teamTitle{ height:34px;}
	.sportsLottWrap .selectArea .numWrap{ height:46px; line-height:46px;}
	.sportsLottWrap .gameDivInner{padding: 0px 25px 5px;}
	.sportsLottWrapInner > li{margin: calc(((100vh - 664px)/5)/2) 4px;}
	.sportsLottWrapOuter{height: calc(100vh - 110px);}
}

@media screen and (min-height: 820px){
	.sportsLottWrapOuter{height: calc(100vh - 110px);}
	.sportsLottWrap .gameDivInner .row.teamTitle{ margin-top:8px;}
	.sportsLottWrapInner > li { margin: calc(((100vh - 780px)/5)/2) 4px;}
	.sportsLottWrap .titleAndDateWrap{ padding:6px;}
	.sportsLottWrap .selectArea .numWrap{ height:54px; line-height:54px;}
}











